@page

@model IndexModel
@{
    
    ViewData["Title"] = "Uploader";
}

<div class="row text-left text-light">
    <div class="col">
        <h2 class="display-5">Welcome to Up<span class="fa fa-upload mr-1 ml-1"></span>loader</h2>
        <p>
            We here at Up<span class="fa fa-upload mr-1 ml-1"></span>loader have the user-experience in our best interests.
            It's our job to provide the best uploading and sharing service for our users and that's why we've been one of the most
            visited sites for video and image hosting this year.
        </p>
    </div>
</div>


